.photo{
  cursor: pointer;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.photo img{
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.photo::after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 150px;
  height: 150px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 11;
  opacity: 0;
  transition: .3s;
  border-radius: 10px;
}
.photo:hover::after{
  opacity: 1;
}
.photo__favorite{
  opacity: 0;
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 20px;
  height: 20px;
  z-index: 111;
  transition: .3s;
}
.photo:hover .photo__favorite{
  opacity: 1;
}
.photo__favorite svg{
  width: 100%;
  height: 100%;
}